
<h1 class="display-5 text-center">Productos disponibles</h1>
<br>
<table class="table table-dark table-striped table-hover">
    <tr>
        <td><strong>Producto</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Precio</strong></td>
        <td><strong>Código</strong></td>
        <td><strong>Stock</strong></td>
        <td><strong>Categoría</strong></td>
         <td></td>
     
    </tr>

    {{#each payload}}
        <tr>
            <td align="center"> <a href="/views/products/{{this._id}}"><img class="rounded" src="{{thumbnails.[0]}}" alt="img_product" width="100"> <br>{{this.title}}</a></td>


             <td> <a href="products/{{this._id}}">{{this.title}
             <td align="center"> <a href="products/{{this._id}}"><img class="rounded" src="{{thumbnails.[0]}}" alt="img_product" width="100"> <br>{{this.title}}</a></td>
             <td>{{this.description}}</td>
             <td>{{this.price}}</td>
             <td>{{this.code}}</td>
             <td>{{this.stock}}</td>
             <td>{{this.category}}</td>
             <td><button class="btn btn-success" type="button" name="addToCart" id="{{this._id}}">Agregar al carrito</button></td>
            
        </tr>
     {{/each}}  

</table>
{{#if products.hasPrevPage}}
     <a class="btn btn-danger" href="{{products.prevLink}}">Página Anterior</a>
{{/if}}
{{#if products.hasNextPage}}
     <a class="btn btn-success" href="{{products.nextLink}}">Página Siguiente</a>
{{/if}}

<script src="/js/product-buttons.js"></script>